<div id="avatar-selection-image" class="col-3" style="width:fit-content">
  <image
    src="./{{this.avatarsImage}}"
      data-avatar-id="{{this.id}}"
    class="rounded-circle avatar-image-option"
    alt="avatar icon"
    width="75"
    height="75"
    type="button"
  > </image>
</div>