<div class="no-results-container no-results-container-noshow">
  <div>
    <span class="no-results-shrug">¯\_(ツ)_/¯</span>
    <span class="no-results-text">No results found</span>
    {{! <img src="."alt="No Results"> }}
  </div>
</div>