  <div class="functions-bar">
    <div class="input-group rounded search-bar">
      <input type="search" class="form-control rounded" placeholder="Search for pins" aria-label="Search"
        aria-describedby="search-addon" id="search-input" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search"></i>
      </span>
    </div>
  </div>