<html lang="en">

<head>
    <title>TravelPages</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="" sizes="180x180" href="">
    <link rel="" type="" sizes="" href="">
    <link href= rel="stylesheet" />
    <link href= rel="stylesheet" />
    <link href=rel="stylesheet" />
    <link href=rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet" />
    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/modal.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  {{!-- Load all available styles --}}
  {{#each styles}}
  <link href="./css/{{this}}.css" rel="stylesheet" />
  {{/each}}
</head>

<body>
  <header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand font-test text-center" href="/">TravelPages</a>
        </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">

    {{!logic to handle login/signup buttons}} 
        {{#unless user.isLoggedIn}}
        <a class="js-signin-modal-trigger btn btn-light login-nav-Btn" href="#0" data-signin="login">Log in</a>
        <a class="js-signin-modal-trigger btn btn-light login-nav-Btn" href="#0" data-signin="signup">Sign up</a>
        <a class="nav-item nav-link active" role="button" href="/discover" data-toggle="tooltip"                data-placement="top" title="Discover">
<!-- Insert icon that navigates to discover_page.handlebars -->
            <i class="bi bi-compass navIcon"></i>
        </a>
        <a class="nav-item nav-link active" href="/pins/user" data-toggle="tooltip" data-placement="top" title="Pins">
