<html lang="en">

<head>
    <title>TravelPages</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="" sizes="180x180" href="">
    <link rel="" type="" sizes="" href="">
    <link href= rel="stylesheet" />
    <link href= rel="stylesheet" />
    <link href=rel="stylesheet" />
    <link href=rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet" />
    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/modal.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  {{!-- Load all available styles --}}
  {{#each styles}}
  <link href="./css/{{this}}.css" rel="stylesheet" />
  {{/each}}
</head>
