<html lang="en">

<head>
    <title>TravelPages</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="" sizes="180x180" href="">
    <link rel="" type="" sizes="" href="">
    <link href= rel="stylesheet" />
    <link href= rel="stylesheet" />
    <link href=rel="stylesheet" />
    <link href=rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet" />
    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/modal.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  {{!-- Load all available styles --}}
  {{#each styles}}
  <link href="./css/{{this}}.css" rel="stylesheet" />
  {{/each}}
</head>

<body>
  <header>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand font-test text-center" href="/">TravelPages</a>
        </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">

    {{!logic to handle login/signup buttons}} 
        {{#unless user.isLoggedIn}}
        <a class="js-signin-modal-trigger btn btn-light login-nav-Btn" href="#0" data-signin="login">Log in</a>
        <a class="js-signin-modal-trigger btn btn-light login-nav-Btn" href="#0" data-signin="signup">Sign up</a>
        <a class="nav-item nav-link active" role="button" href="/discover" data-toggle="tooltip"                data-placement="top" title="Discover">
    <!-- Insert icon that navigates to discover_page.handlebars -->
            <i class="bi bi-compass navIcon"></i>
        </a>
        <a class="nav-item nav-link active" href="/pins/user" data-toggle="tooltip" data-placement="top" title="Pins">
    <!-- Insert icon that navigates to pins.handlebars -->
            <i class="bi bi-pin-map-fill navIcon"></i>
        </a>
        <img src="" class="nav-item nav-link active dropdown-toggle user-avatar"
        href="#" role="button" id="user-profile-pic" data-bs-toggle="dropdown" data-toggle="tooltip" title="Profile" aria-expanded="false" width="50px" />
              <a class="nav-item nav-link active dropdown-toggle" href="#" role="button" id="user-username"
              data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="user-username">
              <li><a class="dropdown-item" href="/editprofile">Settings</a></li>
              <li><a class="dropdown-item" id="logout-btn" href="/logout">Logout</a></li>
            </ul>
          </div>
<!--J Dempe assisted with the styling and pins ideas-->
        {{else}}
        <a class="nav-item nav-link active" role="button" href="/discover" data-toggle="tooltip" data-placement="top" title="Discover">
<!-- Insert icon that navigates to discover_page.handlebars -->
        <i class="bi bi-compass navIcon"></i>
        </a>
        <a class="nav-item nav-link active" href="/pins/user" data-toggle="tooltip" data-placement="top" title="Pins">
<!-- Insert icon that navigates to pins.handlebars -->
            <i class="bi bi-pin-map-fill navIcon"></i>
        </a>
        <img src="" class="nav-item nav-link active dropdown-toggle user-avatar"
        href="#" role="button" id="user-profile-pic" data-bs-toggle="dropdown" data-toggle="tooltip" title="Profile" aria-expanded="false" width="50px" />
              <a class="nav-item nav-link active dropdown-toggle" href="#" role="button" id="user-username"
              data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" aria-labelledby="user-username">
              <li><a class="dropdown-item" href="/editprofile">Settings</a></li>
              <li><a class="dropdown-item" id="logout-btn" href="/logout">Logout</a></li>
            </ul>
          </div>
        {{/unless}}
      </div>
    </div>
  </nav>
</header>

<main>
<!-- Main Page -->
    {{{body}}}
    </main>
    <footer class="text-center text-lg-start bg-light text-muted">

<!-- Social Media Content -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

<!-- Get connected section -->
    <div class="me-5 d-none d-lg-block">
        <span>Get connected with us!:</span>
    </div>

<!-- Website description / links / contact  -->
    <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
<!-- Website name -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-gem footer-gem"></i>
            TravelPages
        </h6>
        <p>
            TravelPages is a social media platform that allows users to share their travel experiences with others.
        <p>
    </div>

<!-- First link column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

<!-- Links -->
    <h6 class="text-uppercase fw-bold mb-4">
        <i class="bi bi-link-45deg"></i>
        Technology
    </h6>
    <p>
        <a href="https://getbootstrap.com/" target="_blank" class="text-reset">
        Bootstrap
        </a>
    </p>

    <p>
        <a href="https://jquery.com/" target="_blank" class="text-reset">
        jQuery
        </a>
    </p>

    <p>
        <a href="https://www.npmjs.com/package/nodemon" target="_blank" class="text-reset">
        Node
        </a>
    </p>
    
    <p>
        <a href="https://nodejs.org/en" target="_blank" class="text-reset">
        Nodemon
        </a>
    </p>
    
    <p>
        <a href="https://expressjs.com/" target="_blank" class="text-reset">
        Express
        </a>
    </p>

    <p>
        <a href="https://www.npmjs.com/package/express-session" target="_blank" class="text-reset">
        Express-Session
        </a>
    </p>
    </div>

<!-- Second link column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-link-45deg"></i>
            Continued
        </h6>
        <p>
        <a href="https://www.npmjs.com/package/bcrypt" target="_blank" class="text-reset">
            bcrypt
        </a>
        </p>

        <p>
            <a href="https://handlebarsjs.com/" target="_blank" class="text-reset">
            Handlebars
            </a>
        </p>

        <p>
            <a href="https://www.npmjs.com/package/express-handlebars" target="_blank" class="text-reset">
            Express-Handlebars
            </a>
        </p>

            <a href="https://www.mysql.com/" target="_blank" class="text-reset">
            MySQL
            </a>
        </p>
        <p>
            <a href="https://sequelize.org/" target="_blank" class="text-reset">
            Sequelize
            </a>
        </p>
        <p>
            <a href="https://www.npmjs.com/package/connect-session-sequelize" target="_blank" class="text-reset">
            Connect-Session-Sequelize
            </a>
        </p>
        </div>

        <!-- Contact link column for Github -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-github footer-contact-github"></i>
            Contact
        </h6>
        <p>
            <a href="https://github.com/GeorgeCJohnson" target="_blank" class="text-reset">
              GeorgeCJohnson
            </a>
        </p>
        </div>
    </div>
</div>

<!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright
    <a class="text-reset fw-bold" href="">WanderList</a>
    </div>

<!-- Copyright -->
</footer>

{{! Modal Section}}
<!-- Modal -->
{{! Provide by https://codyhouse.co/gem/loginsignup-modal-window/ This information was provided by J Dempe}}
    <div class="body-modal cd-signin-modal js-signin-modal fade">

<!-- Modal form-->
    <div class="cd-signin-modal__container">

<!-- Container wrapper -->
    <ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger"
        style="list-style-type: none">
        <li><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
        <li><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
    </ul>
        <div
          class="cd-signin-modal__block js-signin-modal-block"
          data-type="login"
        >
        <!-- log in form -->
        <form class="cd-signin-modal__form">
          <p class="cd-signin-modal__fieldset">
              <label
                class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                for="signin-email"
              >E-mail</label>
            <input
              class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border login-input"
                id="signin-email"
                type="email"
                placeholder="E-mail"
              />
