<div class="create-search-section">
  <button type="button" class="btn btn-primary btn-refresh">
    <i class="bi bi-arrow-clockwise"></i>
    <span class="create-text">Look here for something new!</span>
  </button>
{{> search-bar}}
</div>

{{> no-results-found}}

{{> discovery-pin}}