<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../public/css/login.css" rel="stylesheet">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <div class="info">
            <h2 id="user">Username</h2>
            <input type="text" id="input" placeholder="username"></input>
            <h2 id="pass">Password</h2>
            <input type="text" id="input" placeholder="password"></input>
        </div>
        <button id="submit">Submit</button>
    </div>
</body>
</html>