<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="header">
            <h1>Travel Pages</h1>
            <nav>
                <ul class="links">
                    <li>
                        <p>Discover</p>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">User</button>
                            <div id="userDropdown" class="dropdown-content">
                                <a href="/login.handlebars">Login</a>
                                <a href="/signup.handlebars">Sign Up</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>Info</p>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <footer class="Information">
        <div class="closer">
            <div class="travelpages">
                <h2>Travel Pages</h2>
                <p>Travel pages description</p>
            </div>
            <div class="contact">
                <h2>Contact</h2>
                
            </div>
        </div>
    </footer>
    <script src="../public/handlers/clickfunction.js"></script>
</body>
</html>