* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.wallpaperscraft.com/image/single/big_ben_panorama_bridge_132204_2560x1440.jpg');
    background-size: 100% auto;
}

.login {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 300px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.info {
    padding: 20px 0;
}

.info h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px auto;
}

#input {
    width: 200px;
    height: 25px;;
}

#submit {
    float:inline-end;
    font-size: 15px;
    background: black;
    color: white;
    border-radius: 4px;
    width: 150px;
    margin: 15px 0 auto;
}